.instContainer {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 24px;
    min-height: 400px;
    justify-content: flex-start;
    order: 2;
  }
}

.insTitle {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--mantine-color-blue-6);
  text-decoration-thickness: 2px;
  @media (max-width: $mantine-breakpoint-sm) {
  }
}

.control {
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  border-radius: 6px;
  cursor: pointer;
}

.control:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--mantine-color-blue-6);
}
