.qrCardParent {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (max-width: $mantine-breakpoint-sm) {
    min-height: 390px;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 24px
  }
}

.card {
  width: rem(350px);
  height: rem(350px);
  background-image: url('../../assets/QR.jpg');
  background-repeat: no-repeat;
  background-size: rem(350px) rem(350px);
}
