.container {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  padding-inline: 60px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 24px;
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
  font-size: rem(36px);
  line-height: 1.2;
  font-weight: 600;
  font-variant: small-caps;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
    text-align: left;
  }
}

.highlight {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-4));
}

