.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-blue-6);
}
